image: Visual Studio 2019
install: git submodule update --init --recursive
build_script:
  - call "C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\VC\Auxiliary\Build\vcvarsall.bat"
  - appveyor.py
